@model StoreApplication.Models.ProductStore

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductStore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AmountInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Store.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Store.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { storeId = Model.StoreId, productId = Model.ProductId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
