@using StoreApplication.Models;
@model InventoryPage

@{
    ViewBag.Title = "Index";
}

@section AddtionalMenu{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Select Store <span class="caret"></span></a>
        <ul class="dropdown-menu">
            @foreach (Store store in Model.Stores)
            {
                <li><a href="/ProductStores/Index?StoreId=@store.Id">@store.Name</a></li>
            }

        </ul>
    </li>
}
@if (Model.CurrentSelectedStore == null)
{
    <h2>Select a store in the menu to continue</h2>
}
else
{
    <form method="post">
        <table class="table-striped" style="width:100%">
            <tr>
                <th>Is In Store?</th>
                <th>Product Name</th>
                <th>Amount in stock</th>
            </tr>
            @foreach (InventoryProduct invProd in Model.InventoryProducts)
            {
                <tr>
                    <td>
                    @if (@invProd.IsInStore)
                    {
                        <input id="Isinstore" name="Isinstore" type="checkbox" checked value="@invProd.Product.Id">
                    }
                    else
                    {
                        <input id="Isinstore" name="Isinstore" type="checkbox" value="@invProd.Product.Id">
                    }
                   </td>
                    <td>@invProd.Product.Name <input type="hidden" name="productId" value="@invProd.Product.Id" /></td>
                    <td>@Html.TextBox("Amount", invProd.AmountInStock.ToString())</td>
                </tr>
            }
        </table>

        <input type="submit" value="Update" />
    </form>


}

