@model IEnumerable<MyFirstSPAddinWeb.Models.SPTask>


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script type="text/javascript">
        // Set the style of the client web part page to be consistent with the host web.
        (function () {
            'use strict';

            var hostUrl = '';
            var link = document.createElement('link');
            link.setAttribute('rel', 'stylesheet');
            if (document.URL.indexOf('?') != -1) {
                var params = document.URL.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var p = decodeURIComponent(params[i]);
                    if (/^SPHostUrl=/i.test(p)) {
                        hostUrl = p.split('=')[1];
                        link.setAttribute('href', hostUrl + '/_layouts/15/defaultcss.ashx');
                        break;
                    }
                }
            }
            if (hostUrl == '') {
                link.setAttribute('href', '/_layouts/15/1033/styles/themable/corev15.css');
            }
            document.head.appendChild(link);
        })();
    </script>
</head>
<body>
    <h2>AllTasks</h2>
    <p>
        @Html.ActionLink("Create New", "CreateTask", "Home", new { SPHostUrl = ViewBag.SPHostUrl }, null);
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssigedTo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.TaskDueDate != DateTime.MinValue)
                    {
                        @Html.DisplayFor(modelItem => item.TaskDueDate)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AssigedTo)
                </td>

            </tr>
        }

    </table>


</body>
</html>
